<div class="col-xs-12 col-sm-4">
<div class="widget-printerset block">
  	<h2 class="title_block">{{ section.settings.pinterest_title }}</h2>
	<a data-pin-do="embedBoard" data-pin-lang="vi" data-pin-board-width="{{ section.settings.pinterest_width }}" data-pin-scale-height="{{ section.settings.pinterest_height }}" data-pin-scale-width="{{ section.settings.pinterest_scale }}" href="{{ section.settings.pinterest_url }}"></a>
</div>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</div>  