{% assign pagewishlist = pages[settings.theme_wishlist_page] %}
{% if shop.customer_accounts_optional or shop.customer_accounts_enabled %}
{% comment %}
	<script type="text/javascript">
		$(document).ready( function(){
			if( $(window).width() <= 991 ){
					$(".header_user_info").addClass('popup-over');
					$(".header_user_info .links").addClass('dropdown-menu');
				}
				else{
					$(".header_user_info").removeClass('popup-over');
					$(".header_user_info .links").removeClass('dropdown-menu');
				}
			$(window).resize(function() {
				if( $(window).width() <= 991 ){
					$(".header_user_info").addClass('popup-over');
					$(".header_user_info .links").addClass('dropdown-menu');
				}
				else{
					$(".header_user_info").removeClass('popup-over');
					$(".header_user_info .links").removeClass('dropdown-menu');
				}
			});
		});
	</script>
{% endcomment %}
	<div class="header_user_info popup-over e-scale e-right">
		<div data-toggle="dropdown" class="popup-title dropdown-toggle" title="{{ 'header.userinfo.title' | t }}">
			<span class="icon-user">{% include 'icon-user' %}</span><span>{{ 'header.userinfo.title' | t }}</span>
		</div>
		{% if settings.user_info =='form' %}
			<div class="dropdown-menu dropdown-form">
				{% unless customer %}
			   <div class="customer_login_wrapper">
			      <form method="post" action="/account/login" id="customer_popup_login" accept-charset="UTF-8">
				      <h3>{{ 'customer.login.title' | t }}</h3>
				      <div class="errors" style="display:none;"></div>

				      <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
				      <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" spellcheck="false" autofocus>

				      <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
				      <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

				      <div class="text-center btn-login">        
				        <input type="submit" class="btn btn-outline " value="{{ 'customer.login.sign_in' | t }}">
				      </div>
			      </form>
			   </div>
			   {% endunless %}
			   <ul class="links list-unstyled link-more">
			   	{% if customer  %}
				   	<li>
				        {% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
				        <a class="account" rel="nofollow" href="/account" title="{{ 'customer.account.title' | t }}"><span>{{ 'header.general.welcome_html' | t : fullname : fullname }}</span></a>
				      </li>
				      <li>
				        <a id="customer_logout_link" href="/account/logout" title="{{ 'header.general.logout' | t }}"><i class="fa fa-unlock-alt"></i> {{ 'header.general.logout' | t }}</a>
				      </li>
			      {% endif  %}
			      {% unless customer %}
				   	<li><a id="customer_register_link" href="/account/register" title="{{ 'header.general.register' | t }}"><i class="fa fa-user-plus"></i> {{ 'header.general.register' | t }}</a></li>
				   	<li><a href="/account/login/#recover" class="link-reset"><i class="fa fa-repeat"></i>{{ 'customer.login.forgot_password' | t }}</a></li>
			   	{% endunless customer %}
			   	{% if settings.theme_wishlist_enable %}
					<li>
						<a id="wishlist-total" title="{{ 'header.general.wishlist' | t }}" href="{{ pagewishlist.url }}"><i class="fa fa-heart"></i> {{ 'header.general.wishlist' | t }}</a>
					</li>
					{% endif %}
			   </ul>      
	  		</div>
	  	{% endif %}
	  	{% if settings.user_info =='list' %}
			<ul class="links dropdown-menu list-unstyled">
	         {% if customer  %}
					<li>
						{% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
	                  	<a class="account" rel="nofollow" href="/account" title="{{ 'customer.account.title' | t }}"><span>{{ 'header.general.welcome_html' | t : fullname : fullname }}</span></a>
					</li>
					<li>
						<a id="customer_logout_link" href="/account/logout" title="{{ 'header.general.logout' | t }}"><i class="fa fa-unlock-alt"></i> {{ 'header.general.logout' | t }}</a>
					</li>
				{% else %}
					<li>
						<a id="customer_login_link" href="/account/login" title="{{ 'header.general.login' | t }}"><i class="fa fa-unlock-alt"></i> {{ 'header.general.login' | t }}</a>
					</li>
					<li>
						<a id="customer_register_link" href="/account/register" title="{{ 'header.general.register' | t }}"><i class="fa fa-user-plus"></i> {{ 'header.general.register' | t }}</a>
					</li>
				{% endif %}
	          	<li>
					<a class="account" rel="nofollow" href="/account" title="{{ 'header.general.account' | t }}"><i class="fa fa-user"></i> {{ 'header.general.account' | t }}</a>
				</li>
	          	{% if settings.theme_wishlist_enable %}
					<li>
						<a id="wishlist-total" title="{{ 'header.general.wishlist' | t }}" href="{{ pagewishlist.url }}"><i class="fa fa-heart"></i> {{ 'header.general.wishlist' | t }}</a>
					</li>
				{% endif %}
				<li>
					<a href="/cart" title="{{ 'header.general.checkout' | t }}"><i class="fa fa-check-square"></i> {{ 'header.general.checkout' | t }}</a>
				</li>
			</ul>
		{% endif %}
	</div>
{% endif %}