<script id="MiniCartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="cart ajaxcart">  
      <div class="mini_cart-wrapper">
      {{#items}}
        <div class="mini_cart-item media" data-line="{{line}}">
          <a class="mini-cart-img" href="{{url}}">
            <img src="{{ image }}" alt="{{ product_title }}">
          </a>
          <div class="mini_cart-meta">      	
            <a class="mini-cart-title pull-left" href="{{url}}">
              <span>{{product_title}}</span>
            </a>
            <span class="mini-cart-quantity">{{ quantity }}</span> x 
            <span class="mini-cart-price money">{{{ price }}}</span>
            <a href="#" class="mini-cart-delete icon-fallback-text" data-id="{{key}}" data-line="{{line}}">
                <span class="fallback-text" aria-hidden="true"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <span class="visually-hidden">{% endraw %}{{ 'cart.general.remove' | t }}{% raw %}</span>
            </a>
          </div>
        </div>
      {{/items}}
      </div>
  {% endraw %}
  {% if settings.apollo_cart_free_ship %}{% raw %}
    <div class="free-ship">
        <div class="free-ship-lable">{% endraw %}{{ 'cart.general.free_ship' | t }}{% raw %}</div>
        <div class="free-ship-bar"><div class="free-ship-percen"></div></div> 
    </div>
  {% endraw %}{% endif %}
  {% raw %}
  	<div class="mini-cart-total">{% endraw %}{{ 'cart.general.subtotal' | t }}:{% raw %}<span class="money">{{{ total_price }}}</span></div>
  	<p class="text-left">{% endraw %}{{ 'cart.general.shipping_at_checkout' | t }}{% raw %}</p>
    <div class="gotocart"><a class="btn" href="/cart">{% endraw %}{{ 'cart.general.gotocart' | t }}{% raw %}</a></div>  
    <button type="submit" class="btn btn--secondary btn--full cart__checkout btn-outline" name="checkout">
          {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}
  	</button>
  {% endraw %}{% if additional_checkout_buttons %}
          <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}{% raw %}
  </form>
  {% endraw %}
</script>
