{% assign css = css | append: '.footer-5' %}
{% assign css = css | append: ' {' %}
{% capture color %} color:{{ settings.color_text }};{% endcapture %} 
{% assign css = css | append: color %}   
{% assign css = css | append: '}' %}

{% assign css = css | append: '.footer-5' %}
{% assign css = css | append: ' .col--block .footer-about .des_about{' %}
{% capture color %} color:{{ settings.color_text }};{% endcapture %} 
{% assign css = css | append: color %}   
{% assign css = css | append: '}' %}

{% assign css = css | append: '.footer-5' %}
{% assign css = css | append: ' .col--block .footer-about  .support_call{' %}
{% capture color %} color:{{ settings.color_text }};{% endcapture %} 
{% assign css = css | append: color %}   
{% assign css = css | append: '}' %}

{% assign css = css | append: '.footer-5' %}
{% assign css = css | append: ' .newsletter_block  .des_newsletter{' %}
{% capture color %} color:{{ settings.color_text }};{% endcapture %} 
{% assign css = css | append: color %}   
{% assign css = css | append: '}' %}

{% assign css = css | append: '.footer-5' %}
{% assign css = css | append: ' .box-newletter {' %}
{% capture bg_style_left %} background:{{ settings.bg_newletter_left }};{% endcapture %} 
{% assign css = css | append: bg_style_left %}   
{% assign css = css | append: '}' %}

{% assign css = css | append: '.footer-5' %}
{% assign css = css | append: ' .box-aboutus {' %}
{% capture bg_style_right %} background:{{ settings.bg_about_right }};{% endcapture %} 
{% assign css = css | append: bg_style_right %}   
{% assign css = css | append: '}' %}

<script type="text/javascript">
 var css = "{{ css }}",
      head = document.head || document.getElementsByTagName('head')[0],
      style = document.createElement('style');

  style.type = 'text/css';
  if (style.styleSheet){
    style.styleSheet.cssText = css;
  } else {
    style.appendChild(document.createTextNode(css));
  }
  head.appendChild(style);
</script>
{% capture image_layout %}
  <div class="footer-about clearfix">
    <a href="/" itemprop="url" class="footer_logo">
      {% capture logo_alt %}{{ settings.logo_footer.alt | default: shop.name }}{% endcapture %}
      <img class="lazyload js"
           src="{{ settings.logo_footer | img_url: '300x300' }}"
           alt="{{ logo_alt | escape }}"
           style="max-width: {{ settings.logo_max_width_footer }}px">
    </a>
    {% if settings.title_aboutus_footer != blank %}
    <h5>{{ settings.title_aboutus_footer }}</h5>
    {% endif %}
    {% if settings.des_about_footer != blank %}
      <div class="des_about">
          {{ settings.des_about_footer }}
      </div>
    {% endif %}
    {% if settings.support_call %}
    <div class="support_call">
      {{ settings.support_call }}
    </div>
    {% endif %}
  </div>
{% endcapture %}
<div class="footer-container">
    <section id="footercenter" class="footer-center">
        <div class="{{set-box}}">
            <div class="footer-center-wrap">
                <div class="row col--block no-margin row-flex">
                      {% if settings.layout == 'left' %}
                        <div class="col-md-6 col-sm-12 col-xs-12 box-aboutus no-padding">
                            {{ image_layout }}
                        </div>
                      {% endif %}
                      <div class="col-md-6 col-sm-12 col-xs-12 box-newletter no-padding">
                        <div class="box-newletter-social">
                        {%- if settings.homepage_newsletter_enable -%}
                           {% include 'block-newsletter' %}
                        {%- endif -%}
                        {% if settings.footer_social_enable %}
                           {% include 'block-social' %}
                        {% endif %}
                        </div>
                      </div>
                      {% if settings.layout == 'right' %}
                        <div class="col-md-6 col-sm-12 col-xs-12 box-aboutus no-padding">
                            {{ image_layout }}
                        </div>
                      {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section id="footernav" class="footer-nav">
      <div class="{{set-box}}">
        <div id="powered">
              <div class="row">
                  <div class="powered_left col-sm-6 col-xs-12 ">
                     {% if settings.footer_quicklinks_enable %}
                      {% assign footerlinks_name = settings.footer_quicklinks_linklist %}
                      {% assign footerlinks_title = settings.footer_quicklinks_title %}
                      {% include 'block-footerlinks' with '1' %}
                    {% endif %}
                  </div>
                  <div  class="powered powered_right col-sm-6 col-xs-12">
                     <p>&copy; Copyright {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}</p>
                  </div>
              </div>
          </div>
        </div>
    </section>
</div>