{%- capture apvideo -%}apmenuitem_evideo_{{ intMega }}{%- endcapture -%}
{%- capture approduct -%}apmenuitem_eproduct_{{ intMega }}{%- endcapture -%}
{%- capture aphtml -%}apmenuitem_ehtml_{{ intMega }}{%- endcapture -%}
{%- capture aplink -%}apmenuitem_eblocklinks_{{ intMega }}{%- endcapture -%}

{%- capture ap_colvideo -%}apmenuitem_columns_blockvideo_{{ intMega }}{%- endcapture -%}
{%- capture ap_colproduct -%}apmenuitem_columns_blockproducts_{{ intMega }}{%- endcapture -%}
{%- capture ap_colhtml -%}apmenuitem_columns_blockhtml_{{ intMega }}{%- endcapture -%}
{%- capture ap_collink -%}apmenuitem_columns_blocklinks_{{ intMega }}{%- endcapture -%}
{%- capture apbgimage -%}apmenuitem_bg_image_{{ intMega }}.jpg{%- endcapture -%}
{%- capture apbgimage_enable-%}apbgimage_enable_{{ intMega }}{%- endcapture -%}
{%- capture apstyle -%}style='width:{{ settings[apwidth] }};{%- if settings[apbgimage_enable] -%} background:#fff url({{ apbgimage | asset_url }}) no-repeat center bottom {%- endif -%}'{%- endcapture -%}

{%- if fullwidth == 'aligned-center' -%}
       {%- capture apwidth -%}apmenuitem_width_{{ intMega }}{%- endcapture -%}
       {%- capture apbgimage -%}apmenuitem_bg_image_{{ intMega }}.jpg{%- endcapture -%}
       {%- capture apbgimage_enable-%}apbgimage_enable_{{ intMega }}{%- endcapture -%}
       {%- capture apstyle -%}style='width:{{ settings[apwidth] }};{%- if settings[apbgimage_enable] -%} background:#fff url({{ apbgimage | asset_url }}) no-repeat center bottom {%- endif -%}'{%- endcapture -%}
{%- endif -%}

<div class="dropdown-sub dropdown-menu sub-apmegamenu-{{ intMega }}" {{ apstyle }}>
       <div class="dropdown-menu-inner">
              <div class="row">
                     {%- if settings[aplink] -%}
                            <div class="mega-col col-sm-{{ settings[ap_collink] }}">
                     {%- capture ap_col_links -%}apmenuitem_columns_{{ intMega }}{%- endcapture -%}
                                   {%- include 'menu-blocklinks' -%}
                            </div>
                     {%- endif -%}
                     {%- if settings[apvideo] -%}
                            <div class="mega-col col-sm-{{ settings[ap_colvideo] }}">
                     {%- capture ap_video -%}apmenuitem_cvideo_{{ intMega }}{%- endcapture -%}
                                   {%- include 'menu-blockvideos' -%}
                            </div>
                     {%- endif -%}
                     {%- if settings[approduct] -%}
                            <div class="mega-col col-sm-{{ settings[ap_colproduct] }}">
                     {%- capture collection_menu -%}apmenuitem_cproduct_{{ intMega }}{%- endcapture -%}
                    {%- capture collection_menu_title -%}apmenuitem_tproduct_{{ intMega }}{%- endcapture -%}
                    {%- capture collection_product_limit -%}apmenuitem_nproduct_{{ intMega }}{%- endcapture -%}
                                   {%- include 'menu-blockproducts' -%}
                            </div>
                     {%- endif -%}
                     {%- if settings[aphtml] -%}
                            <div class="mega-col col-sm-{{ settings[ap_colhtml] }}">
                     {%- capture ap_html_title -%}apmenuitem_thtml_{{ intMega }}{%- endcapture -%}
                     {%- capture ap_html_eimg -%}apmenuitem_eihtml_{{ intMega }}{%- endcapture -%}
                    {%- capture ap_html_img -%}apmenuitem_ihtml_{{ intMega }}.jpg{%- endcapture -%}
                    {%- capture ap_html_des -%}apmenuitem_chtml_{{ intMega }}{%- endcapture -%}
                     {%- capture ap_html_Link -%}apmenuitem_lchtml_{{ intMega }}{%- endcapture -%}
                     {%- capture ap_html_color -%}apmenuitem_cochtml_{{ intMega }}{%- endcapture -%}
                     {%- capture ap_html_class -%}apmenuitem_classchtml_{{ intMega }}{%- endcapture -%}
                                   {%- include 'menu-blockhtml' -%}
                            </div>
                     {%- endif -%}
              </div>
       </div>
</div>