{% unless columns_product %}
	{% assign columns_product = 4 %}
{% endunless %}
{% unless product_in_tab %}
	{% assign product_in_tab = 16 %}
{% endunless %}
{% assign colProduct = 12 | divided_by:columns_product %}
{% if columns_product == 5 %}
	{% capture grid_item_width %}col-md-2-4 col-xs-6 col-sp-6 col-sm-4{% endcapture %}
{% else %}
	{% capture grid_item_width %}col-md-{{ colProduct }} col-xs-6 col-sp-6 col-sm-4{% endcapture %}
{% endif %}
{% if product_tab == 'tab' %}
{% assign products = collection.products %}
{% else %}
{% assign products = collection_produclists %}
{% endif %}

<div class="carousel slide" id="{{ product_carousel }}1">
	<div class="carousel-inner">
      	{%- assign countRow = 0 -%}
      	<div class="row row-flex">
		{%- for product in products limit:product_in_tab -%}
      		{% assign countRow = countRow | plus: 1 %}
      		{% assign modcol = countRow | modulo:columns_product %}
            {% include 'product-grid-item' %}
            {% else %}
            {% for i in (1..product_in_tab) %}
		        <div class="grid__item .grid__item--{{section.id}} {{ grid_item_width }}">
		        	<div class="product-container text-left product-block">
		        		<div class="product-image-container image">
		        			<a href="#" class="product_img_link">
		        				{% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
		               	{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
		        			</a>
		        		</div>
		        		<div class="product-meta">
		        			<div class="grid-view-item__title"><a href="#" class="product-name">{{ 'homepage.onboarding.product_title' | t }}</a></div>
		        			<div class="grid-view-item__meta">{% include 'product-price' %}</div>
		        		</div>
		        	</div>
		        </div>
		      {% endfor %}
		{%- endfor -%}
		</div>
	</div>
</div>