<div class="product_block  {{ grid_item_width }} {{ item_special }} {% if forloop.first == true %} marso {% endif %}" data-price="{{ product.price }}">
    <div class="product-container text-left product-block product-block_overlay ">
      <div class="product-image-container image">
        <a class="product_img_link" href="{{ product.url | within: collection }}">
          {% assign img_url =  product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {%- if proLazyLoad and type_block != 'boostrap_carousel' -%}
          <img class="img-product img-responsive " data-lazy="{{ product.featured_image | product_img_url: imagesize }}" src="{{ product.featured_image | product_img_url: imagesize   }}" alt="{{ product.featured_image.alt | escape }}">
          {%- else -%}
          <img class="img-product lazyload" data-lazy="{{ product.featured_image | product_img_url: imagesize }}"
          src="{{ product.featured_image | product_img_url: '300x'  }}"
          data-src="{{ img_url }}"
          data-widths="[180,360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ product.featured_image.alt | escape  }}" >
          <noscript>
            <img src="{{ product.featured_image | product_img_url: imagesize }}" alt="{{ image.alt | escape }}" class="img-product">
          </noscript>
          {%- endif -%}
          {%- if settings.theme_more_pimages_option == 'showone' -%}
          {%- include 'product-more-image' -%}
          {%- endif -%}
        </a>
        {%- if settings.theme_more_pimages_option == 'showmore' -%}
        {% include 'product-more-image' %}
        {%- endif -%}
        <div class="box-new-sold">
        {%- if new -%}
        <span class="new-box">
          <span class="label-new label">{{ 'products.product.new_from_html' | t }}</span>
        </span>
        {%- endif -%}
        {%- if sold_out -%}
          <span class="sold-box {% if new %} stt-new {% endif %}">
          <span class="label-sold label">{{ 'products.product.sold_out' | t }}</span>
        </span>
        {%- endif -%}
        </div>
        {% if on_sale %}
          <span class="sale-box">
            <span class="label-sale label">-{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price }}%</span>
          </span>
        {% endif %}
        <div class="functional-buttons clearfix">  
             {%- if settings.theme_quickview_enable -%}
             <div class="quickview">
               <a class="quick-view btn" href="#quick-view-product" data-id="{{ product.id }}" data-handle="{{ product.handle }}" title="{{ 'general.quickview.title' | t }}">
                 {% include 'icon-search' %}
                 <span>{{ 'general.quickview.title' | t }}</span>
               </a>
             </div>
             {%- endif -%}
             {%- if settings.theme_wishlist_enable -%}
              {% if settings.wishlist_nologin == 'yes' or settings.wishlist_nologin == '' %}
                 {% include 'wishlist-button'%}
              {% elsif settings.wishlist_nologin == 'no' %}
                <div class="add-wishlist">
                  {% include 'wishlist-product' %}
                </div>
              {% endif %}
            {%- endif -%}
            {%- if settings.theme_compare_enable -%}        
             <div class='ap-cp-add-compare ap_cp_add '>
               <input type="checkbox" data-img="{{ product.featured_image.src | img_url: grid_image_width }}" data-title="{{product.title}}" data-id="{{ product.handle }}" class="ap-cp-add" title="Compare">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g><g><g><polygon points="179.456,307.2 0,307.2 0,358.4 179.456,358.4 179.456,435.2 281.6,332.8 179.456,230.4 "/><polygon points="332.544,153.6 332.544,76.8 230.4,179.2 332.544,281.6 332.544,204.8 512,204.8 512,153.6 "/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
             </div>
           {%- endif -%}
           <div class="cart">
             {%- assign variantCount = product.variants | size -%}
             <div class="action">
               <form action="/cart/add" method="post" enctype="multipart/form-data" class="form-ajaxtocart">
                 <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                 {%- if sold_out -%}
                 <button class="button ajax_addtocart disabled" type="submit" value="Submit" disabled title="{{ 'products.product.sold_out' | t }}">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.5 508.5"><path d="M413.2 95.3h-63.7C348.7 42.6 306.4 0 254.3 0s-94.4 42.6-95.2 95.3H95.3c-17.5 0-31.8 14.2-31.8 31.8v349.6c0 17.5 14.2 31.8 31.8 31.8h317.8c17.5 0 31.8-14.2 31.8-31.8V127.1C445 109.6 430.7 95.3 413.2 95.3zM254.3 31.8c34.5 0 62.6 28.4 63.4 63.6H190.9C191.6 60.2 219.7 31.8 254.3 31.8zM413.2 476.7H95.3V127.1h317.8V476.7z" class="a"/><path d="M206.6 190.7h95.3c8.7 0 15.9-7.1 15.9-15.9 0-8.8-7.2-15.9-15.9-15.9h-95.3c-8.8 0-15.9 7.1-15.9 15.9C190.7 183.6 197.8 190.7 206.6 190.7z" class="a" style="fill:red;"/></svg>
                 </button>
                 {%- else -%}
                 {%- if variantCount > 1 -%}
                 <a class="button ajax_addtocart" href="{{ product.url | within: collection }}" title="{{ product.title }}">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.5 508.5"><path d="M413.2 95.3h-63.7C348.7 42.6 306.4 0 254.3 0s-94.4 42.6-95.2 95.3H95.3c-17.5 0-31.8 14.2-31.8 31.8v349.6c0 17.5 14.2 31.8 31.8 31.8h317.8c17.5 0 31.8-14.2 31.8-31.8V127.1C445 109.6 430.7 95.3 413.2 95.3zM254.3 31.8c34.5 0 62.6 28.4 63.4 63.6H190.9C191.6 60.2 219.7 31.8 254.3 31.8zM413.2 476.7H95.3V127.1h317.8V476.7z" class="a"/><path d="M206.6 190.7h95.3c8.7 0 15.9-7.1 15.9-15.9 0-8.8-7.2-15.9-15.9-15.9h-95.3c-8.8 0-15.9 7.1-15.9 15.9C190.7 183.6 197.8 190.7 206.6 190.7z" class="a"/></svg>
                 </a>
                 {%- else -%}
                 <button class="button ajax_addtocart" type="submit" value="Submit">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.5 508.5"><path d="M413.2 95.3h-63.7C348.7 42.6 306.4 0 254.3 0s-94.4 42.6-95.2 95.3H95.3c-17.5 0-31.8 14.2-31.8 31.8v349.6c0 17.5 14.2 31.8 31.8 31.8h317.8c17.5 0 31.8-14.2 31.8-31.8V127.1C445 109.6 430.7 95.3 413.2 95.3zM254.3 31.8c34.5 0 62.6 28.4 63.4 63.6H190.9C191.6 60.2 219.7 31.8 254.3 31.8zM413.2 476.7H95.3V127.1h317.8V476.7z" class="a"/><path d="M206.6 190.7h95.3c8.7 0 15.9-7.1 15.9-15.9 0-8.8-7.2-15.9-15.9-15.9h-95.3c-8.8 0-15.9 7.1-15.9 15.9C190.7 183.6 197.8 190.7 206.6 190.7z" class="a"/></svg>
                 </button>
                 {%- endif -%}
                 {%- endif -%}
               </form> 
             </div> 
           </div>
        </div>
        <div class="product-meta">
           {%- if dealTime -%}
          {%- if settings.apollo_count_down_enable -%}
          {% include 'block-productdeal' %}
          {%- endif -%}
          {%- endif -%}
          <div class="grid-view-item__title">
            <a class="product-name" href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">{{ product.title | truncate: 40 }}</a>
          </div>
          {%- if settings.ap_collection_product_description -%} 
          <div class="product-desc">
            {%- if product.description contains '[/shortdesc]' -%}  
            {%- assign shortdesc = product.description | split: '[shortdesc]' | last -%}
            {{ shortdesc | split: '[/shortdesc]' | first }}
            {%- else -%}
            {{ product.description | strip_html | truncatewords: 20}}
            {%- endif -%}
          </div>
          {%- endif -%}
          {%- if settings.show-reviewhome -%}
            {%- if settings.show_reviews_detail -%}
            <div class="review">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
            {%- endif -%}
          {%- endif -%}
          <div class="content_price">
            {%- if on_sale -%}
            <span class="old-price product-price">{{ product.compare_at_price | money }}</span>
            {%- endif -%}
            <span class="price product-price {% if on_sale %}sale-price{% endif %}">
              {{ product.price | money }}
            </span>
          </div>    
          
        </div>
      </div>
      
    </div>
</div>