{% assign product_sidebar = product %}
{% if img_size == '55x' %}
  {% assign imagesize_sidebar = '55x' %}
{% else %}
 {% assign imagesize_sidebar = settings.product_sidebar_imagesize %}
{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}
<div class="product-block">
	<div class="product-container media">
		<a class="sidebar_product_image products-block-image img pull-left" href="{{ product_sidebar.url | within: collection }}" title="{{ product_sidebar.title }}">
			<img class="replace-2x img-responsive" src="{{ product.featured_image | product_img_url: imagesize_sidebar }}" alt="{{ product_sidebar.title }}">
     	</a>
     	<div class="sidebar_product_content media-body">
          	<div class="product-content">
                <h5 class="name media-heading">
                	<a class="product-name" href="{{ product_sidebar.url | within: collection }}" title="{{ product_sidebar.title }}">{{ product_sidebar.title | truncate: 30 }}</a>
                </h5>
              {% if settings.show_reviews_detail %}
              <div class="review">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
              {% endif %}
                <div class="content_price price">
                	{% if on_sale %}
	                    <span class="old-price product-price">{{ product_sidebar.compare_at_price | money }}</span>
	                {% endif %}
	                <span class="price product-price">
	                    {{ product_sidebar.price | money }}
	                </span>
                </div>
            </div>
        </div>
	</div>
</div>