{% if settings.categories_block_enable %}
<div id="categories_block" class="block sidebarCategories {{ settings.categories_block_class }}">
    {% if settings.categories_block_title != blank %}
        <h4 class="title_block">{{ settings.categories_block_title }}</h4>
    {% endif %}
    <div class="block_content">
        <ul class="listSidebar list-unstyled">
            {% if settings.categories_block_style == 'show_all' %}
                {% for category in collections limit:settings.categories_block_number %}{% include 'ap_multilang_collection' with category %}
                    <li {% if collection.handle == category.handle %} class="active" {% endif %}>
                        <a href="{{ category.url }}" title="{{ collection_translate.title }}">
                            {{ collection_translate.title }}
                              {% if settings.categories_block_productcount %}
                                {% if category.all_products_count > 0 %}
                                    <span id="apolloQty{{ category.id }}" class="apolloQty pull-right">{{ category.all_products_count }}</span>
                                {% endif %}
                              {% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                {% assign category_items = settings.categories_block_items | split:"," %}
                {% for category in category_items %}
                      {% assign categoryCustom = category | handle %}
                    {% for category_site in collections %}
                        {% assign cat = category_site.title | handle %}
                        {% if categoryCustom == cat %}
                            <li {% if collection.handle == category_site.handle %} class="active" {% endif %}>
                                <a href="{{ category_site.url }}" title="{{ category_site.title }}">
                                    {{ category_site.title }}
                                      {% if settings.categories_block_productcount %}
                                        {% if category_site.all_products_count > 0 %}
                                            <span id="appolloQty{{ category_site.id }}" class="apolloQty pull-right">{{ category_site.all_products_count }}</span>
                                        {% endif %}
                                      {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}