{% if section.settings.products_recently_enable %}
	{% assign product_sidebar_limit = section.settings.products_recently_number %}
	<div id="products_viewed_block" class="block products_block product-recent" style="display: none;">
		{% if section.settings.products_recently_title != blank %}
            <div class="section-header text-center {{ title_style }} {{ size_title }}">
                <h2><span>{{ section.settings.products_recently_title }}</span></h2>
            </div>
		{% endif %}
		<div class="block_content products-block">
			<ul id="recently-products" class="products products-block product_list_widget list-unstyled row" style="display: none;">
			</ul>
		</div>
	</div>
    {% raw %}
    <script id="recently-template"  type="text/x-jquery-tmpl">
        <li id="product-${handle}" class="col-md-3 col-sm-6 col-xs-12">
            <div class="product-block">
                <div class="product-container media">
                    <a class="sidebar_product_image products-block-image img pull-left" href="${url}" title="${title}">
                        <img class="replace-2x img-responsive" src="${Shopify.Products.resizeImage(featured_image, "small")}" alt="${title}">
                    </a>
                    <div class="media-body sidebar_product_content">
                        <div class="product-content">
                            <h5 class="name media-heading">
                                <a class="product-name" href="${url}" title="${title}">${title}</a>
                            </h5>
                            <div class="review"><span class="shopify-product-reviews-badge" data-id="${id}"></span></div>
                            <div class="content_price price">
                                {{if price_varies }}
                                    <span class="old-price product-price">
                                        <span>
                                        	From 
                                        </span>
                                    </span>
                                {{/if}}
                                <span class="price product-price">
                                    <span>
                                    	{{html Shopify.formatMoney(price, theme.money_currency_format)}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </script>
    {% endraw %}
    <script>
        $(document).ready(function() {
            Shopify.Products.showRecentlyViewed( {
              howManyToShow:{{ product_sidebar_limit }},
              onComplete: function() {
                {% if settings.show_multiple_currencies %}                  	
                  Currency.convertAll(theme.shop_currency, $("#currencies a.selected").data("currency"), "span.money", "money_format")
                {% endif %}
              }
            } );
        });
    </script>
{% endif %}