<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html class="modern" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <title>
            {{ shop.name }}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        {% if settings.favicon_enable %}
            <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
        {% endif %}
        {{ content_for_header }}
        {{ 'password.scss.css' | asset_url | stylesheet_tag }}
        <!-- JS ================================================== -->
        {{ 'modernizr.min.js' | asset_url | script_tag }}
        {{ '//code.jquery.com/jquery-1.11.3.min.js' | script_tag }}
      	{{ 'bootstrap.min.js' | asset_url | script_tag }}
      	<!-- CSS ================================================== -->
      	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
        {% if settings.theme_font_family contains 'Google' %}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family | remove: 'Google+' }}:300,400,700">
        {% endif %}
        {% if settings.theme_font_family_tertiary contains 'Google' %}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_tertiary | remove: 'Google+' }}:300,400,700">
        {% endif %}
        {% if settings.theme_font_family_septenary contains 'Google' %}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_septenary | remove: 'Google+' }}:300,400,700">
        {% endif %}
        {% if settings.theme_font_family_senary contains 'Google' %}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_senary | remove: 'Google+' }}:300,400,700">
        {% endif %}
    </head>
    <body class="template-password">
        {{ content_for_layout }}
    </body>
</html>