{% include 'set_layout' %}
<div class="block-section lazyload " data-section-id="{{ section.id }}" data-section-type="producttabs" {%- if section.settings.custom_space -%} style="{{ section.settings.custom_space }}; background-color: {{section.settings.bg_section }}" {%- endif -%}>
  <div  class="block_content {{set-box}} productlists-wrapper">
    {%- if section.settings.title != blank -%}
      {%- include 'style_header' -%}
      <div class="section-header text-center">
        <h2><span>{{ section.settings.title | escape }}</span></h2>
      </div>
    {%- endif -%}
      
      {%- if settings.apollo_count_down_enable and settings.apollo_count_down_collections -%}
        {%- assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' -%}
      {%- else -%}
        {%- assign dealTime = false -%}
      {%- endif -%}
      {%- assign id_producttabs = section.settings.idproducttabs -%}
      {%- assign enable_dot = section.settings.enable_dot  -%}
      {%- assign enable_nav = section.settings.enable_nav  -%}
      {%- assign columns_product = section.settings.home_productlists_columntab | plus:0 -%}
      {%- assign row = section.settings.rows | plus:0 -%}
      {%- assign slidesToScroll = section.settings.home_productlists_toscroll | plus:0 -%}
      {%- assign item_laptop = section.settings.home_productlists_toscroll_laptop | plus:0 -%}
      {%- assign item_table = section.settings.home_productlists_toscroll_table | plus:0 -%}
      {%- assign item_phone = section.settings.home_productlists_toscroll_phone | plus:0 -%}
      {%- assign item_phone_min = section.settings.home_productlists_toscroll_phone_min | plus:0 -%}
      {%- assign product_in_tab = section.settings.home_productlists_limit | plus:0 -%}
      {%- assign product_interval = section.settings.home_productlists_interval | plus:0 -%}
      {%- assign type_block = section.settings.home_producttabs_type -%}
      
      {%- assign id_productlist = section.id -%}
      {%- assign row_slick = section.settings.home_row_slick | plus:0 -%}
      {%- assign product_tab = 'tab' -%}
      {%- include 'block-producttabs' with section.id -%}
      {%- if section.settings.btn_link_all != blank -%}
      <div class="btn-tabs text-center">
        <a class="btn btn-outline-inverse" href="{{section.settings.btn_link}}">{{section.settings.btn_link_all}}</a>
      </div>
      {%- endif -%}
  </div>
</div>
{% schema %}
{
    "name": "Collection Product Tabs",
  	"class": "index-section",
    "max_blocks": 8,
    "settings": [
      {
        "type": "textarea",
        "id": "custom_space",
        "label": "Css Style Section",
        "default":"padding-top:100px;padding-bottom:100px"
      },
      {
         "type":      "radio",
         "id":        "set_box",
         "label":     "Set Layout Section",
         "options": [
           { "value": "box-container", "label": "Box Container" },
           { "value": "box-full", "label": "Box Full" },
           { "value": "none", "label": "None" }
         ],
         "default":   "box-full",
         "info":      "Set Layout Section"
      },
      {
        "type": "color",
        "id": "bg_section",
        "label": "Background color",
        "default": "#ffffff"
      },
  	  {
        "type": "header",
        "content": "Product Tabs"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "select",
        "id": "home_producttabs_type",
        "label": "Product Tabs Display",
        "options": [
          {
            "value": "boostrap_carousel",
            "label": "Grid"
          },
          {
            "value": "slick_carousel",
            "label": "Slick Carousel"
          }
        ]
      },
      {
          "type": "checkbox",
          "id": "enable_dot",
          "label": "Enable Dot"
        },
      {
      "type": "checkbox",
      "id": "enable_nav",
      "label": "Enable Arrows"
      },
      {
        "type": "text",
        "id": "home_productlists_limit",
        "label": "Limit",
        "default": "8"
      },
      {
        "type": "text",
        "id": "home_productlists_columntab",
        "label": "Columns In Tab",
        "default": "4",
        "info": "Sample: 1, 2, 3, 4, 6, 12"
      },
      {
        "type": "text",
        "id": "home_row_slick",
        "label": "Row for Slick carousel",
        "default": "1",
        "info": "Sample: 1, 2, 3 for Slick carousel"
      },
      {
        "type": "text",
        "id": "home_productlists_toscroll",
        "label": "Slider To Scroll",
        "default": "4",
        "info": "for slick slider ex: 1, 2, 3, 4 .."
      },
      {
        "type": "text",
        "id": "home_productlists_toscroll_laptop",
        "label": "Number Item per Line ( Laptop Small )",
        "default": "3",
        "info": "for screen 1199px"
      },
      {
        "type": "text",
        "id": "home_productlists_toscroll_table",
        "label": "Number Item per Line (Table)",
        "default": "2",
        "info": "for screen 750px to 991px"
      },
      {
        "type": "text",
        "id": "home_productlists_toscroll_phone_min",
        "label": "Number Item per Line (Phone)",
        "default": "1",
        "info": "for screen 749px"
      },
      {
        "type": "text",
        "id": "home_productlists_interval",
        "label": "Interval",
        "default": "8000",
        "info": "Enter Time(miniseconds) to play carousel. Value 0 to stop."
      },
      {
        "type": "text",
        "id": "btn_link_all",
        "label": "Button Link Name"
      },
      {
        "type": "text",
        "id": "btn_link",
        "label": "Link"
      }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_name",
          "label": "Tab Name",
          "default": "Tab"
        },
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
    "name": "Collection Product Tabs",
    "category": "Collection",
    "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
