{%- if section.settings.enable_inteam -%}
<div class="inteam mg-b text-center">
	{%- if section.settings.title_team != blank -%}
		<h3 class="inwork-title title-page">{{section.settings.title_team}}</h3>
	{%- endif -%}
	<div class="row">
		{%- for block in section.blocks -%}
			<div class="col-xs-12 col-sm-6 col-md-{{ block.settings.columns_section }}">
        <div class="inteam-box">
          {%- assign img_url = block.settings.image | img_url: 'master' -%}
           {%- if block.settings.image != blank -%}
              <img src="{{img_url}}" alt="{{section.settings.image.alt}}" class="responsive lazyload">
           {%- else -%}
           <div style="height:340px">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
           </div>
           {%- endif -%}
           {% if block.settings.title != blank %}
               <h4 class="h3 inteam-box__title">{{ block.settings.title }}</h4>
           {% endif %}
           {% if block.settings.text != blank %}
                <div class="rte-setting">{{ block.settings.text }}</div>
           {% endif %}
           <ul class="social-team list-unstyled clearfix list-group list-inline">
             {% if block.settings.social_facebook_link != blank %}
                <li class="facebook">
                    <a target="_blank" href="{{ block.settings.social_facebook_link }}" title="{{ block.settings.title | escape }} on Facebook" class="btn-tooltip" data-original-title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
            {% endif %}
            {% if block.settings.social_twitter_link != blank %}
                <li class="twitter">
                    <a target="_blank" href="{{ block.settings.social_twitter_link }}" title="{{ block.settings.title | escape }} on Twitter" class="btn-tooltip" data-original-title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
            {% endif %}
            {% if block.settings.social_instagram_link != blank %}
                <li class="instagram">
                    <a target="_blank" href="{{ block.settings.social_instagram_link }}" title="{{ block.settings.title | escape }} on Instagram" class="btn-tooltip" data-original-title="Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            {% endif %}
            {% if block.settings.social_pinterest_link != blank %}
                <li class="pinterest">
                    <a target="_blank" href="{{ block.settings.social_pinterest_link }}" title="{{ block.settings.title | escape }} on Pinterest" class="btn-tooltip" data-original-title="Pinterest">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </li>
            {% endif %}
            {% if block.settings.social_vimeo_link != blank %}
                <li class="vimeo">
                    <a target="_blank" href="{{ block.settings.social_vimeo_link }}" title="{{ block.settings.title | escape }} on Vimeo" class="btn-tooltip" data-original-title="Vimeo">
                        <i class="fa fa-vimeo-square"></i>
                    </a>
                </li>
            {% endif %}
            {% if block.settings.social_youtube_link != blank %}
                <li class="youtube">
                    <a target="_blank" href="{{ block.settings.social_youtube_link }}" title="{{ block.settings.title | escape }} on Youtube" class="btn-tooltip" data-original-title="Youtube">
                        <i class="fa fa-youtube-play "></i>
                    </a>
                </li>
            {% endif %}
            {% if block.settings.social_googleplus_link != blank %}
                <li class="google-plus">
                    <a target="_blank" href="{{ block.settings.social_googleplus_link }}" title="{{ block.settings.title | escape }} on Google Plus" class="btn-tooltip" data-original-title="Google Plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            {% endif %}
            {% if block.settings.social_tumblr_link != blank %}
                <li class="tumblr">
                    <a target="_blank" href="{{ block.settings.social_tumblr_link }}" title="{{ block.settings.title | escape }} on Tumblr" class="btn-tooltip" data-original-title="Tumblr">
                        <i class="fa fa-tumblr-square "></i>
                    </a>
                </li>
            {% endif %}
            {% if block.settings.social_snapchat_link != blank %}
                <li class="snapchat">
                    <a target="_blank" href="{{ block.settings.social_snapchat_link }}" title="{{ block.settings.title | escape }} on Snapchat" class="btn-tooltip" data-original-title="Snapchat">
                        <i class="fa fa-snapchat-ghost"></i>
                    </a>
                </li>
            {% endif %}
           </ul>
        </div>
			</div>
		{%- endfor -%}
	</div>
</div>
{%- endif -%}
{% schema %}
{
	"name": "Info Team",
	"settings": [
	 {
		 "type": "checkbox",
		 "id": "enable_inteam",
		 "label": "Enable Section",
		 "default":true
	 },
	 {
			"type": "header",
			"content": "------ * Info Team* ------"
	 },
	 {
		 "type": "text",
		 "id": "title_team",
		 "label": "Tittle Info"
	 }
	],
	"blocks": [
    {
      "type": "text",
      "name": "service",
      "settings": [
       {
          "type": "image_picker",
          "id": "image",
          "label": "Image "
       },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title column"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text Sub Column",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>"
        },
		    {
          "type": "select",
          "id": "columns_section",
          "label": "Width of the section",
          "options": [
            {
              "value": "1",
              "label": "1\/12 (8.33%)"
            },
            {
              "value": "2",
              "label": "2\/12 (16.67%)"
            },
            {
              "value": "3",
              "label": "3\/12 (25.00%)"
            },
            {
              "value": "4",
              "label": "4\/12 (33.33%)"
            },
            {
              "value": "5",
              "label": "5\/12 (41.67%)"
            },
            {
              "value": "6",
              "label": "6\/12 (50.00%)"
            },
            {
              "value": "7",
              "label": "7\/12 (58.33%)"
            },
            {
              "value": "8",
              "label": "8\/12 (66.67%)"
            },
            {
              "value": "9",
              "label": "9\/12 (75.00%)"
            },
            {
              "value": "10",
              "label": "10\/12 (83.33%)"
            },
            {
              "value": "11",
              "label": "11\/12 (91.67%)"
            },
            {
              "value": "12",
              "label": "12\/12 (100.00%)"
            }
          ],
          "default":"3",
          "info": "Width of the block"
        },
        {
        "type": "text",
        "id": "social_twitter_link",
        "label": "Twitter",
        "info": "https:\/\/twitter.com\/shopify"
      },
      {
        "type": "text",
        "id": "social_facebook_link",
        "label": "Facebook",
        "info": "https:\/\/facebook.com\/shopify"
      },
      {
        "type": "text",
        "id": "social_pinterest_link",
        "label": "Pinterest",
        "info": "https:\/\/pinterest.com\/shopify"
      },
      {
        "type": "text",
        "id": "social_instagram_link",
        "label": "Instagram",
        "info": "http:\/\/instagram.com\/shopify"
      },
      {
        "type": "text",
        "id": "social_tumblr_link",
        "label": "Tumblr",
        "info": "http:\/\/shopify.tumblr.com"
      },
      {
        "type": "text",
        "id": "social_snapchat_link",
        "label": "Snapchat",
        "info": "https:\/\/www.snapchat.com\/add\/shopify"
      },
      {
        "type": "text",
        "id": "social_youtube_link",
        "label": "YouTube",
        "info": "https:\/\/www.youtube.com\/shopify"
      },
      {
        "type": "text",
        "id": "social_vimeo_link",
        "label": "Vimeo",
        "info": "https:\/\/vimeo.com\/shopify"
      }
      ]
    }
  ]
}
{% endschema %}
