{% if section.settings.enable_mapcontacts %}
{% unless min_height %}
  {% assign min_height = "600px" %}
{% endunless %}
{% assign data = "" %}
{% assign sep = "" %}
{%- for block in section.blocks -%}
   {% if block.settings.map_title.size > 0 and block.settings.map_address.size > 0 %}
       {% assign lat = block.settings.map_lat | plus:0 %}
       {% assign long = block.settings.map_long | plus:0 %}
       {% if lat != 0 and long != 0 %}
            {% if data.size > 0 %}
               {% assign sep = ',' %}
            {% endif %}
           {% assign name = block.settings.map_title | escape %}
           {% assign address = block.settings.map_address | escape %}
           {% assign data = data | append: sep| append: '{"id_store":"1", "name":"' | append: name | append: '",'%}
           {% assign data = data | append: '"address":"' | append: address | append: '", "latitude":"' | append: block.settings.map_lat | append: '",' %}
           {% assign data = data | append: '"longitude":"' | append: block.settings.map_long | append: '"}' %}
       {% endif %}
   {% endif %}
{% endfor %}
<div class="block-section lazyload ">
  <div  class="block_content ">
      <div id="google-maps" class="block google-maps" style="width: 100%; min-height:{{ min_height }}; clear:both;">
         <div class="gmap-cover display-list-store">
            <div class="gmap-content">
               <div id="map-canvas" class="gmap" style="min-height:{{ min_height }}; width:100%; height: 100%;"></div>
            </div>
         </div>
         <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&amp;amp;region=US"></script>
         <script type="text/javascript">
              var dataMarkers = [{{ data }}];
              var latitude = (dataMarkers.length > 0 ? parseFloat(dataMarkers[0].latitude) : 45.422230);
              var longitude = (dataMarkers.length > 0 ? parseFloat(dataMarkers[0].longitude) : -75.692413);
              var infowindow = null;
              var map = "";
              var markers = [];
              var infoWindow = "";
              var zoom = {% if section.settings.map_zoom %}{{ section.settings.map_zoom}} {% else %}14{% endif %};

              function displayAMarker(data, obj, id) {
                  var m = markers[id];
                  google.maps.event.trigger(m, 'click');
              }
              function initializeListStore(data, name) {
                  var obj = $("#" + name + " ul");
                  synSize(name);
                  for(var i = 0; i < data.length; i++) {
                      var s = data[i];
                      obj.append("<li class='item-gmap-store' marker-id='" + i + "'" 
                              + "onclick='return displayAMarker(dataMarkers, this, " + i + ");'>"
                              + "<strong><b><span class='icon-map-marker'></span> "
                              + s.name + "</b></strong><br/><text>" + s.address + "</text>");
                  }
              }
              function initializeGmap(map, data, markers, nameGmap, zoom) {
                  map = new google.maps.Map(document.getElementById(nameGmap), {
                      center: new google.maps.LatLng(latitude, longitude),
                      zoom: zoom,
                      mapTypeId: 'roadmap',
                      {% if section.settings.style_map != blank %}styles:{{section.settings.style_map}}{% endif %}
                  });
                  setTimeout(createMarkers(map, markers, data), 1500);
              };
              function createMarkers(map, markers, data) {
                  for (var i = 0; i < data.length; i++) {
                      var obj = data[i];
                      var lg = parseFloat(obj.longitude);
                      var lt = parseFloat(obj.latitude);
                      var name = obj.name;
                      var address = obj.address;

                      var latlng = new google.maps.LatLng(lt, lg);
                      var html = "<div style='min-width:200px;'><b>" + name + "</b><br/><br/>" + address; 
                      html += "<hr/><a href='https://maps.google.com/maps?saddr=&daddr=" + latlng + "' target='_blank'>Get directions<\/a>";
                      html += "</div>"; 

                      infowindow = new google.maps.InfoWindow({
                          content: "loading..."
                      });

                      var marker = new google.maps.Marker({
                          position: new google.maps.LatLng(lt, lg), 
                          animation: google.maps.Animation.DROP, 
                          map: map,
                          //icon: img_ps_dir + logo_store,
                          title: obj.name,
                          html: html
                      });

                      google.maps.event.addListener(marker, "click", function () {
                          infowindow.setContent(this.html);
                          infowindow.open(map, this);
                      });
                      markers[i] = marker;
                  }
              }
              function synSize(name) {
                  var obj = $("#" + name);
                  var div = $(obj).closest(".gmap-cover");
                  var gmap = $(div).find(".gmap");
                  $(obj).height($(gmap).height());
                  //console.log($(gmap).height());
              }
              $(function() {
                  console.log(dataMarkers.length);
                  if(dataMarkers.length <= 1) {
                      $(".gmap-content").attr("class", "gmap-content");
                      $(".gmap-stores-content").css("display", "none");
                  }
                  initializeGmap(map, dataMarkers, markers, "map-canvas", zoom);
                  initializeListStore( dataMarkers, "gmap-stores-list");
              });
          </script>
      </div>
      <div class="infocontact">
         <div class="row">
            {% if section.settings.enable_address %}
               <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="infocontact-box">
                     <span class="infocontact-box--icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.7 97.7"><path d="M48.9 0C29 0 12.9 16.1 12.9 36c0 5.2 1.1 10.1 3.1 14.7 9 19.7 26.2 40.5 31.3 46.4 0.4 0.4 0.9 0.7 1.5 0.7s1.1-0.3 1.5-0.7c5.1-5.9 22.3-26.7 31.3-46.4 2.1-4.6 3.1-9.5 3.1-14.7C84.8 16.1 68.7 0 48.9 0zM48.9 54.7c-10.3 0-18.7-8.4-18.7-18.7 0-10.3 8.4-18.7 18.7-18.7s18.7 8.4 18.7 18.7C67.5 46.3 59.2 54.7 48.9 54.7z"/></svg></span>
                     {% if section.settings.title_address != blank %}
                        <h4 class="infocontact-box--title">{{ section.settings.title_address }}</h4>
                     {% endif %}
                     {% if section.settings.sub_address != blank %}
                     <p class="infocontact-box--des">{{ section.settings.sub_address }}</p>
                     {% endif %}
                  </div>
               </div>
            {% endif %}
            {% if section.settings.enable_number %}
               <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="infocontact-box">
                     <span class="infocontact-box--icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.6 480.6"><path d="M365.4 317.9c-15.7-15.5-35.3-15.5-50.9 0 -11.9 11.8-23.8 23.6-35.5 35.6 -3.2 3.3-5.9 4-9.8 1.8 -7.7-4.2-15.9-7.6-23.3-12.2 -34.5-21.7-63.4-49.6-89-81 -12.7-15.6-24-32.3-31.9-51.1 -1.6-3.8-1.3-6.3 1.8-9.4 11.9-11.5 23.5-23.3 35.2-35.1 16.3-16.4 16.3-35.6-0.1-52.1 -9.3-9.4-18.6-18.6-27.9-28 -9.6-9.6-19.1-19.3-28.8-28.8 -15.7-15.3-35.3-15.3-50.9 0.1 -12 11.8-23.5 23.9-35.7 35.5 -11.3 10.7-17 23.8-18.2 39.1 -1.9 24.9 4.2 48.4 12.8 71.3 17.6 47.4 44.4 89.5 76.9 128.1 43.9 52.2 96.3 93.5 157.6 123.3 27.6 13.4 56.2 23.7 87.3 25.4 21.4 1.2 40-4.2 54.9-20.9 10.2-11.4 21.7-21.8 32.5-32.7 16-16.2 16.1-35.8 0.2-51.8C403.6 355.9 384.5 336.9 365.4 317.9z"/><path d="M346.3 238.2l36.9-6.3c-5.8-33.9-21.8-64.6-46.1-89 -25.7-25.7-58.2-41.9-94-46.9l-5.2 37.1c27.7 3.9 52.9 16.4 72.8 36.3C329.5 188.2 341.8 212 346.3 238.2z"/><path d="M404 77.8c-42.6-42.6-96.5-69.5-156-77.8l-5.2 37.1c51.4 7.2 98 30.5 134.8 67.2 34.9 34.9 57.8 79 66.1 127.5l36.9-6.3C470.9 169.3 444.4 118.3 404 77.8z"/></svg></span>
                     {% if section.settings.title_number != blank %}
                        <h4 class="infocontact-box--title">{{ section.settings.title_number }}</h4>
                     {% endif %}
                     {% if section.settings.sub_number != blank %}
                     <p class="infocontact-box--des">{{ section.settings.sub_number }}</p>
                     {% endif %}
                  </div>
               </div>
            {% endif %}
            {% if section.settings.enable_online %}
               <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="infocontact-box">
                     <span class="infocontact-box--icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.6 27.6"><path d="M21.1 5.9c-0.1-0.3-0.1-0.6-0.3-0.9l1.7 0 0.7 0.6h0.8l-1.3-1.1h-2.2c-0.8-1.6-2.3-2.8-4.2-3.1C15.5 0.6 14.2 0 12.8 0c-2.6 0-4.7 1.9-5.3 4.5L3.6 4.5l0.5 0.5h3.2 1.5H8.9L8.8 5c0.5-1.9 2.1-3.4 4-3.4 0.4 0 0.8 0.1 1.1 0.2 -1.9 0.6-3.3 2.2-3.7 4.2H5v21.7h19.3V5.9H21.1zM19 4.6h-0.9c-0.1-0.4-0.2-0.8-0.4-1.1C18.3 3.7 18.7 4.1 19 4.6zM11.7 5.9c0.5-1.8 2.1-3.1 4-3.1 0.6 0.5 1 1.3 1.1 2.2l2.5 0c0.2 0.3 0.3 0.6 0.4 0.9H11.7z"/><polygon points="3.4 26.3 4.5 27.4 4.5 5.7 3.4 4.7 "/></svg></span>
                     {% if section.settings.title_online != blank %}
                        <h4 class="infocontact-box--title">{{ section.settings.title_online }}</h4>
                     {% endif %}
                     {% if section.settings.sub_online != blank %}
                     <p class="infocontact-box--des">{{ section.settings.sub_online }}</p>
                     {% endif %}
                  </div>
               </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Map Contacts",
  "max_blocks": 5,
  "settings": [
  {
     "type": "checkbox",
     "id": "enable_mapcontacts",
     "label": "Enable Map contacts",
     "default":true
   },
  {
     "type": "textarea",
     "id": "style_map",
     "label": "Style Map [Link custom](https://mapstyle.withgoogle.com/)",
     "info": "Link custom style https://mapstyle.withgoogle.com/"
   },
   {
     "type": "text",
     "id": "map_zoom",
     "label": "Map Zoom",
     "default": "14"
   },
   {
      "type": "header",
      "content": "------ * Info Contacts * ------"
   },
   {
     "type": "checkbox",
     "id": "enable_address",
     "label": "Enable Adress",
     "default":true
   },
   {
     "type": "text",
     "id": "title_address",
     "label": "Title Address"
   },
   {
     "type": "textarea",
     "id": "sub_address",
     "label": "Sub Address"
   },
   {
     "type": "checkbox",
     "id": "enable_number",
     "label": "Enable Number",
     "default":true
   },
   {
     "type": "text",
     "id": "title_number",
     "label": "Title Number"
   },
   {
     "type": "textarea",
     "id": "sub_number",
     "label": "Sub Number"
   },
   {
     "type": "checkbox",
     "id": "enable_online",
     "label": "Enable Online",
     "default":true
   },
   {
     "type": "text",
     "id": "title_online",
     "label": "Title Online"
   },
   {
     "type": "textarea",
     "id": "sub_online",
     "label": "Sub Online"
   }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Location",
      "settings": [
        {
           "type": "text",
           "id": "map_title",
           "label": "Shop Name",
           "default": "Your Shop Name"
         },
         {
           "type": "text",
           "id": "map_address",
           "label": "Shop Address",
           "default": "Your Shop Address"
         },
         {
           "type": "text",
           "id": "map_lat",
           "label": "Shop Latitude ",
           "default": "45.422230"
         },
         {
           "type": "text",
           "id": "map_long",
           "label": "Shop Longitude ",
           "default": "-75.692413"
         }
      ]
    }
  ]
}
{% endschema %}
