{% include 'breadcrumb' %}
<div class="product-template-detail" data-section-id="{{ section.id }}" data-section-type="productlists">
  {% include section.settings.product-template-layout %}
</div>

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "header",
      "content": "------ * Layout Product * ------"
    },
    {
      "type": "radio",
      "id": "product-template-layout",
      "label": "Layout Product Detail",
      "options": [
        {
        "value": "product-template1",
        "label": "Style 1 Thumbnail Left"
        },
        {
        "value": "product-template2",
        "label": "Style 2 Thumbnail Right "
        },
        {
        "value": "product-template3",
        "label": "Style 3 Thumbnail Bottom "
        },
        {
        "value": "product-template4",
        "label": "Style 4 No Thumbnail"
        },
        {
        "value": "product-template5",
        "label": "Style 5 Image Grid"
        },
        {
        "value": "product-template6",
        "label": "Style 6 Image ZigZag"
        },
        {
        "value": "product-template7",
        "label": "Style 7 Image ZigZag Creative"
        },
        {
        "value": "product-template8",
        "label": "Style 8 Image Scroll Trend"
        },
        {
        "value": "product-template9",
        "label": "Style 9 Image Srcoll No Thumb"
        },
        {
        "value": "product-template10",
        "label": "Style 10 Image Center"
        }
      ],
      "default": "product-template1",
      "info": "Select template Product detail"
    },
    {
      "type": "color",
      "id": "bg_product",
      "label": "Background Product",
      "default": "#f7f7f7"
    },
    
    {
      "type": "header",
      "content": "------ * Layout Full * ------"
    },
    {
    "type": "radio",
    "id": "set_layoutproduct",
    "label": "Select Layout ",
    "options": [
      {
        "value": "container",
        "label": "Container"
      },
      {
        "value": "page-content",
        "label": "Full Box"
      },
      {
        "value": "",
        "label": "Full No Padding"
      }
    ],
    "default": "container"
  },
    {
    "type": "select",
    "id": "image_size",
    "label": "Image size",
    "options": [
      {
        "value": "small",
        "label": "Small"
      },
      {
        "value": "medium",
        "label": "Medium"
      },
      {
        "value": "large",
        "label": "Large"
      }
    ],
    "default": "medium"
  },
	  {
      "type": "checkbox",
      "id": "product_page_swatch",
      "label": "Use swatch variant",
	  "info": "Enable swatch or using dropdown"
    },
    {
      "type": "radio",
      "id": "style_swatch",
      "label": "Style Swatch",
      "options": [
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "circle"
    },
    {
      "type": "radio",
      "id": "show_img_bg",
      "label": "Style Color Swatch",
      "options": [
        {
          "value": "img",
          "label": "Show Variants Image"
        },
        {
          "value": "bg",
          "label": "Show Variants Background"
        }
      ],
      "default": "bg"
    },
    {
      "type": "checkbox",
      "id": "product_page_availability",
      "label": "Show available",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_pro",
      "label": "-- Show Propertie Right Products",
      "default": false,
      "info":"Show Propertie Right Products"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_type",
      "label": "Show Type",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_col",
      "label": "Show Collection",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_tag",
      "label": "Show Tags",
      "default": false
    },
    {
      "type": "text",
      "id": "limit_tag",
      "label": "Limit Tags",
      "default": "2"
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Enable image Zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_popup",
      "label": "Enable image Popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
  	{
      "type": "header",
      "content": "------ * Product More Info * ------"
    },
    {
    "type": "radio",
    "id": "set_layout_more",
    "label": "Select Layout ",
    "options": [
      {
        "value": "container",
        "label": "Container"
      },
      {
        "value": "page-content",
        "label": "Full Box"
      },
      {
        "value": "",
        "label": "Full No Padding"
      }
    ],
    "default": "container"
  },
     {
      "type": "checkbox",
      "id": "enable_accodi",
      "label": "Enable Accordion In Products",
      "default": false
    },
	  {
      "type": "select",
      "id": "product_description_type",
      "label": "Tab type",
      "options": [
        {
          "value": "tab",
          "label": "Tab"
        },
        {
          "value": "accordion",
          "label": "Accordion"
        }
      ],
      "default": "tab"
    },
    {
      "type": "text",
      "id": "product_moreinfo_tab1title",
      "label": "1st Title Tab",
      "default": "More info"
    },
    {
      "type": "text",
      "id": "product_moreinfo_tab2title",
      "label": "2st Title Tab",
      "default": "Custom Tab 2"
  	},
    {
      "type": "text",
      "id": "product_moreinfo_tab3title",
      "label": "3st Title Tab",
      "default": "Custom Tab 3"
    },
    {
        "type": "text",
        "id": "product_moreinfo_tab4title",
        "label": "4st Title Tab",
        "default": "Custom Tab 4"
      },
    {
        "type": "text",
        "id": "product_moreinfo_tab5title",
        "label": "5st Title Tab",
        "default": "Custom Tab 5"
      },
 	{
      "type": "header",
      "content": "FAQs setting"
    },
  	{
      "type": "checkbox",
      "id": "show_faqs_detail",
      "label": "Show FAQs",
      "default": true
    },
  	{
      "type": "checkbox",
      "id": "show_faqs_detail_tab",
      "label": "Show FAQs in Tab",
      "default": true
    },
    {
      "type": "text",
      "id": "product_moreinfo_tab_faqs_title",
      "label": "FAQs Label",
      "default": "FAQs"
    },
  	{
      "type": "header",
      "content": "Review setting"
    },
	{
		"type": "checkbox",
		"id": "show_reviews_detail_tab",
		"label": "Show Reviews detail tabs",
		"default": true
	},
    {
      "type": "text",
      "id": "product_moreinfo_tab_reviews_title",
      "label": "Reviews Label",
      "default": "Reviews"
    },
  	{
      "type": "header",
      "content": "Comment setting"
    },
  	{
      "type": "checkbox",
      "id": "show_comment_detail",
      "label": "Show Comment",
      "default": true
    },
  	{
      "type": "checkbox",
      "id": "show_comment_detail_tab",
      "label": "Show Comment in Tab",
      "default": true
    },
    {
      "type": "text",
      "id": "product_moreinfo_tab_comment_title",
      "label": "Comment Label",
      "default": "Comment"
    },
  	{
      "type": "text",
      "id": "facebook_appid",
      "label": "Facebook AppID",
      "default": "ID"
    },
  	{
      "type": "text",
      "id": "facebook_admin_id",
      "label": "Facebook Admin ID",
      "default": "ID1,ID2",
  		"info": "ex: ID1,ID2,..."
    },
  	{
      "type": "text",
      "id": "facebook_comment_display",
      "label": "Number comment display",
      "default": "10"
    },
    {
        "type": "header",
    "content": "--- * Service Products * ---"
      },
    {
      "type": "checkbox",
      "id": "enable_ser_pro",
      "label": "Show Service products",
      "default": true
    },
   {
        "type": "image_picker",
        "id": "icon_1",
        "label": "Icon Image 1"
      },
      {
      "type": "text",
      "id": "ser_1",
      "label": "Text Service 1"
    },
    {
        "type": "image_picker",
        "id": "icon_2",
        "label": "Icon Image 2"
      },
      {
      "type": "text",
      "id": "ser_2",
      "label": "Text Service 2"
    },
    {
        "type": "image_picker",
        "id": "icon_3",
        "label": "Icon Image 3"
      },
      {
      "type": "text",
      "id": "ser_3",
      "label": "Text Service 3"
    },
    {
        "type": "image_picker",
        "id": "icon_4",
        "label": "Icon Image 4"
      },
      {
      "type": "text",
      "id": "ser_4",
      "label": "Text Service 4"
    },
   	{
        "type": "header",
		   "content": "-- * Product Related * --"
      },
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": false
    },
      {
      "type": "textarea",
      "id": "custom_space",
      "label": "Css Style Section",
      "default":"padding-top:10px;padding-bottom:100px"
    },
    {
      "type": "color",
      "id": "bg_section",
      "label": "Background color",
      "default": "#ffffff"
    },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
	    {
          "type": "checkbox",
          "id": "enable_dot",
          "label": "Enable Dot"
        },
      {
      "type": "checkbox",
      "id": "enable_nav",
      "label": "Enable Arrows"
      },
      {
        "type": "text",
        "id": "home_productlists_limit",
        "label": "Limit",
        "default": "16"
      },
      {
        "type": "text",
        "id": "home_productlists_columntab",
        "label": "Columns In Tab",
        "default": "4",
        "info": "Sample: 1, 2, 3, 4, 6, 12"
      },
      {
        "type": "text",
        "id": "home_productlists_toscroll",
        "label": "Slider To Scroll",
        "default": "4",
        "info": "for slick slider ex: 1, 2, 3, 4 .."
      },
      {
        "type": "text",
        "id": "row_slick",
        "label": "Row for Slick carousel",
        "default": "1",
        "info": "Sample: 1, 2, 3 for Slick carousel"
      },
      {
        "type": "text",
        "id": "home_productlists_interval",
        "label": "Interval",
        "default": "8000",
        "info": "Enter Time(miniseconds) to play carousel. Value 0 to stop."
      },
      {
        "type": "text",
        "id": "home_productlists_toscroll_laptop",
        "label": "Number Item per Line ( Laptop )",
        "default": "3",
        "info": "-- Breakpoint 1200px"
      },
      {
        "type": "text",
        "id": "home_productlists_toscroll_table",
        "label": "Number Item per Line (Table)",
        "default": "2",
        "info": "-- Breakpoint 990px"
      },
      {
        "type": "text",
        "id": "home_productlists_toscroll_phone_min",
        "label": "Number Item per Line (Phone Min )",
        "default": "1",
        "info": "-- Breakpoint 480px"
      },
      {
        "type" : "header",
        "content" : "Recent Viewed"
      },
      {
        "type": "checkbox",
        "id": "products_recently_enable",
        "label": "Show Recent Viewed",
        "default": true
      },
      {
        "type": "text",
        "id": "products_recently_title",
        "label": "Title for Recent Viewed",
        "default": "Recent Viewed"
      },
      {
        "type": "text",
        "id": "products_recently_number",
        "label": "Limit Products",
        "default": "4"
      },
  	  {
  		"type" : "header",
  		"content" : "Sidebar"
  	  },
	  {
        "type": "select",
        "id": "position_sidebar",
        "label": "Position Sidebar",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
  ]
}
{% endschema %}

  


{% include 'apollo_send_mail_quote' %}
<script type="text/javascript">
  $(document).ready(function() {
    $(document).on('click', '#get_more_info', function(e) {
      e.preventDefault();

      if($('#get_more_info').valid()) {
        $('#contact_form').submit();
      }
    });
  });
</script>
<script type="text/javascript">
    
    function selectCallback(variant, selector) {
        var addToCart = $("#AddToCart"),
            productPrice = $(".product-single__meta #ProductPrice-{{ section.id }}"),
            comparePrice = $(".product-single__meta #ComparePrice-{{ section.id }}");
        if (variant) {
            if (variant.available) {
                addToCart.removeClass('disabled').removeAttr('disabled');
                $(addToCart).find("span").text("{{ 'products.product.add_to_cart' | t }}");
            } else {
            	addToCart.addClass('disabled').attr('disabled', 'disabled');
                $(addToCart).find("span").text("{{ 'products.product.sold_out' | t }}");
            }
            productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
            if ( variant.compare_at_price > variant.price ) {
                productPrice.addClass("sale-price")
                comparePrice
                .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
                .show();
                $('.product-price__sale-label').show();
            } else {
                comparePrice.hide();
              	$('.product-price__sale-label').hide();
                productPrice.removeClass("sale-price");
            }        
            var form = $('#' + selector.domIdPrefix).closest('form');
            for (var i=0,length=variant.options.length; i<length; i++) {
                var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                if (radioButton.size()) {
                    radioButton.get(0).checked = true;
                }
            }
            updatePricing();
            {% if settings.show_multiple_currencies %}
                //Currency.convertAll('{{ shop.currency }}', $('#currencies').val(), 'span.money', 'money_format');
                Currency.convertAll(theme.shop_currency, $("#currencies a.selected").data("currency"), "span.money", "money_format");
            {% endif %}
            if (variant.available) {
				$('.product-single .availability').html("<span class='available instock'>" + "{{'products.product.available' | t }}" + "</span>");
            } else{
            	$('.product-single .availability').html("<span class='available outstock'>" + "{{'products.product.unavailable' | t }}" + "</span>");
            }
            $('.variant-sku').text(variant.sku);
		} else {
			addToCart.addClass('disabled').attr('disabled', 'disabled');
			$(addToCart).find("span").text("{{ 'products.product.unavailable' | t }}");
      $('.variant-sku').empty();
		}
        //find thumb and click on it                                   
		if (variant && variant.featured_image) {
            $('.product-single__thumbnail').each(function(index){
              if(variant.featured_image.src.indexOf($(this).data('zoom-image')) !== -1){
                $(this).trigger("click");
                var slider = $('.slider-nav');
                slider[0].slick.slickGoTo(index - 1);
                return false;
              }
            });
        }
    }
    $(document).ready(function() {
        new Shopify.OptionSelectors('productSelect', {
            product: {{ product | json }},              
            onVariantSelected: selectCallback,
            enableHistoryState: true
        });
      	{% if product.available and product.options.size > 1 %}
        	Shopify.linkOptionSelectors({{ product | json }});
        {% endif %}
        {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.product-single .selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
        {% endif %}
        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.product-single .selector-wrapper').hide();
      		$('.product-single .swatch').hide();
        {% endif %}   
        {% if product.available == false %}
            $(".product-single .add_to_cart_detail").addClass("disabled").attr("disabled", "disabled");
            $("#AddToCartText").text("{{ 'products.product.unavailable' | t }}");
        {% endif %}
		$('.more_info_block .page-product-heading li:first, .more_info_block .tab-content .page-product-box:first').addClass('active');
    });
</script>

