{%- assign css =  '.grid-service {' -%}
{% capture grid-service %}border-color:{{ section.settings.color_border_box }};{% endcapture %} 
{%- assign css =  css | append:  grid-service -%}
{%- assign css =  css | append: '}' -%}

{% assign css = css | append: '.grid-service' %}
{% assign css = css | append: ' .service-box {' %}
{% capture service-box %}border-color:{{ section.settings.color_border }};{% endcapture %}                     
{% assign css = css | append: service-box %}                            
{% assign css = css | append: '}' %}

{% assign css = css | append: '.grid-service' %}
{% assign css = css | append: ' .service .title_block {' %}
{% capture title_block %}color:{{ section.settings.color_title }};{% endcapture %}
{% assign css = css | append: title_block %}                              
{% assign css = css | append: '}' %}

{% assign css = css | append: '.grid-service' %}
{% assign css = css | append: ' .service .text_service {' %}
{% capture text_service %}color:{{ section.settings.color_title_sub }};{% endcapture %} 
{% assign css = css | append: text_service %}   
{% assign css = css | append: '}' %}

{% assign css = css | append: '.service' %}
{% assign css = css | append: ' .fa {' %}
{% capture fa %}color:{{ section.settings.color_icon }};{% endcapture %} 
{% assign css = css | append: fa %}   
{% assign css = css | append: '}' %}

{% assign css = css | append: '.service' %}
{% assign css = css | append: ' svg {' %}
{% capture svg %}fill:{{ section.settings.color_icon }};{% endcapture %} 
{% assign css = css | append: svg %}   
{% assign css = css | append: '}' %}

{% assign css = css | append: '.service' %}
{% assign css = css | append: ' svg #Value-Proposition-Bar {' %}
{% capture bar %}fill:{{ section.settings.color_icon }};{% endcapture %} 
{% assign css = css | append: bar %}   
{% assign css = css | append: '}' %}

  <script type="text/javascript">
    var css = "{{ css }}",
            head = document.head || document.getElementsByTagName('head')[0],
            style = document.createElement('style');

        style.type = 'text/css';
        if (style.styleSheet){
          style.styleSheet.cssText = css;
        } else {
          style.appendChild(document.createTextNode(css));
        }

        head.appendChild(style);
  </script>
{%- include 'set_layout' -%}
<div class="block-section" {%- if section.settings.custom_space != blank -%} style="{{ section.settings.custom_space }};background-color: {{section.settings.bg_section }}" {%- endif -%}>
  <div class="block_content {{set-box}} ">
  {% if section.settings.title != blank %}
   {% include 'style_header' %}
    <div class="section-header text-center {{ title_style }} {{ size_title }}">
      <h2><span>{{ section.settings.title | escape }}</span></h2>
    </div>
  {% endif %}
  <div class="collection-grid-items">
    <div class="grid-service row no-margin {% if section.settings.icon-left %} grid-icon-left {% endif %}">
      {% for block in section.blocks limit: section.blocks.size %}
        <div class="no-padding col-xs-12 col-md-{{ block.settings.columns_section }} service-box" {{ block.shopify_attributes }}>
          <div class="service ">
            {% if block.settings.icon != blank %}
            	{{ block.settings.icon }}
            {% endif %}
            {% if block.settings.heading_service != blank %}
            <h4 class="title_block">{{ block.settings.heading_service }}</h4>
            {% endif %}
            {% if block.settings.des_service != blank %}
            <p class="text_service">{{ block.settings.des_service }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "service",
  "class": "index-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "textarea",
      "id": "custom_space",
      "label": "Css Style Section",
      "default":"padding-top:100px;padding-bottom:100px"
    },
    {
       "type":      "radio",
       "id":        "set_box",
       "label":     "Set Layout Section",
       "options": [
         { "value": "box-container", "label": "Box Container" },
         { "value": "box-full", "label": "Box Full" },
         { "value": "none", "label": "None" }
       ],
       "default":   "box-full",
       "info":      "Set Layout Section"
    },
    {
      "type": "checkbox",
      "id": "icon-left",
      "label": "Enable Icon Left Text Right"
    },
    {
      "type": "color",
      "id": "color_border_box",
      "label": "Border Out",
      "default": "#e5e5e5"
    },
    {
      "type": "color",
      "id": "bg_section",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "color_title_sub",
      "label": "Color Sub",
      "default": "#888888"
    },
    {
      "type": "color",
      "id": "color_icon",
      "label": "Color Icon",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "color_border",
      "label": "Border Color",
      "default": "#e5e5e5"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "service",
      "settings": [
        {
          "type": "textarea",
          "id": "icon", 
          "label": "icon block",
          "info":"You can use SVG or fontawesome.io"
        },
        {
			    "type": "text",            
          "id": "heading_service",
	 	      "label": "Heading service"
        },
        {
    		  "type": "textarea",
    		  "id": "des_service",	
          "label": "Des service"       
        },
		    {
          "type": "select",
          "id": "columns_section",
          "label": "Width of the section",
          "options": [
            {
              "value": "1",
              "label": "1\/12 (8.33%)"
            },
            {
              "value": "2",
              "label": "2\/12 (16.67%)"
            },
            {
              "value": "3",
              "label": "3\/12 (25.00%)"
            },
            {
              "value": "4",
              "label": "4\/12 (33.33%)"
            },
            {
              "value": "5",
              "label": "5\/12 (41.67%)"
            },
            {
              "value": "6",
              "label": "6\/12 (50.00%)"
            },
            {
              "value": "7",
              "label": "7\/12 (58.33%)"
            },
            {
              "value": "8",
              "label": "8\/12 (66.67%)"
            },
            {
              "value": "9",
              "label": "9\/12 (75.00%)"
            },
            {
              "value": "10",
              "label": "10\/12 (83.33%)"
            },
            {
              "value": "11",
              "label": "11\/12 (91.67%)"
            },
            {
              "value": "12",
              "label": "12\/12 (100.00%)"
            }
          ],
          "default":"3",
          "info": "Width of the block products in a row of megamenu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "service",
      "category": "service",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
